body {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0d6efd, #6610f2); 
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}


.hero-section {
  min-height: 100vh;
  padding-top: 120px; /* navbar height */
  position: relative;
}

